/cap02/aula08/erros/node_modules
/cap02/aula08/middlewares-aula/node_modules
/cap02/aula08/logs-aula/node_modules
/cap02/aula08/servindo-arquivos-estaticos/node_modules
/cap02/aula07/node_modules
/cap02/aula09/my-bank/node_modules